In [1]:
import pandas as pd
df = pd.read_csv('zomato.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [2]:
# Dropped unnecessary columns

In [3]:
df.drop('url',axis=1,inplace=True)
df.drop('address',axis=1,inplace=True)
df.drop('reviews_list',axis=1,inplace=True)
df.drop('phone',axis=1,inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         51717 non-null  object
 1   online_order                 51717 non-null  object
 2   book_table                   51717 non-null  object
 3   rate                         43942 non-null  object
 4   votes                        51717 non-null  int64
 5   location                     51696 non-null  object
 6   rest_type                    51490 non-null  object
 7   dish_liked                   23639 non-null  object
 8   cuisines                     51672 non-null  object
 9   approx_cost(for two people)  51371 non-null  object
 10  menu_item                    51717 non-null  object
 11  listed_in(type)              51717 non-null  object
 12  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(12)
memory usage: 5.1+ MB

In [5]:
#Deleted Duplicates

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
#Dropped Unnecessary Columns

In [8]:
df.drop('dish_liked', axis = 1 , inplace = True)
df.drop(columns=['listed_in(city)','menu_item'] , axis = 1 , inplace = True)
df.drop('rest_type' , axis = 1 , inplace = True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51630 entries, 0 to 51716
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         51630 non-null  object
 1   online_order                 51630 non-null  object
 2   book_table                   51630 non-null  object
 3   rate                         43871 non-null  object
 4   votes                        51630 non-null  int64
 5   location                     51609 non-null  object
 6   cuisines                     51585 non-null  object
 7   approx_cost(for two people)  51286 non-null  object
 8   listed_in(type)              51630 non-null  object
dtypes: int64(1), object(8)
memory usage: 3.9+ MB

In [10]:
#Renamed the columns

In [11]:
df.rename(columns={"name":"restaurant_name","rate":"rating","approx_cost(for two people)":"cost_per_person"}, inplace=True)
df.rename(columns={"listed_in(type)": "restaurant_type"}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51630 entries, 0 to 51716
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_name  51630 non-null  object
 1   online_order     51630 non-null  object
 2   book_table       51630 non-null  object
 3   rating           43871 non-null  object
 4   votes            51630 non-null  int64
 5   location         51609 non-null  object
 6   cuisines         51585 non-null  object
 7   cost_per_person  51286 non-null  object
 8   restaurant_type  51630 non-null  object
dtypes: int64(1), object(8)
memory usage: 3.9+ MB

In [12]:
#Deleted Null Values

In [13]:
df.dropna(subset=['cuisines', 'cost_per_person'],inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51267 entries, 0 to 51716
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_name  51267 non-null  object
 1   online_order     51267 non-null  object
 2   book_table       51267 non-null  object
 3   rating           43613 non-null  object
 4   votes            51267 non-null  int64
 5   location         51267 non-null  object
 6   cuisines         51267 non-null  object
 7   cost_per_person  51267 non-null  object
 8   restaurant_type  51267 non-null  object
dtypes: int64(1), object(8)
memory usage: 3.9+ MB

In [15]:
#Changed Data Types

In [16]:
import pandas as pd
import numpy as np
def handlerate(value) :
    if(value== 'NEW' or value=='-'):
        return np.nan
    else:
        value = str(value).split('/')
        value = value [0]
        return float(value)

df['rating'] = df['rating'].apply(handlerate)

In [17]:
df['cost_per_person']=df['cost_per_person'].str.replace(',', '').astype(float)

In [18]:
df['restaurant_name']=df['restaurant_name'].astype('string')
df['online_order']=df['online_order'].astype('string')
df['book_table']=df['book_table'].astype('string')
df['location']=df['location'].astype('string')
df['cuisines']=df['cuisines'].astype('string')
df['restaurant_type']=df['restaurant_type'].astype('string')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51267 entries, 0 to 51716
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_name  51267 non-null  string
 1   online_order     51267 non-null  string
 2   book_table       51267 non-null  string
 3   rating           41352 non-null  float64
 4   votes            51267 non-null  int64
 5   location         51267 non-null  string
 6   cuisines         51267 non-null  string
 7   cost_per_person  51267 non-null  float64
 8   restaurant_type  51267 non-null  string
dtypes: float64(2), int64(1), string(6)
memory usage: 3.9 MB

In [20]:
#Changed the values of necessary columns

In [22]:
df['rating']=df['rating'].fillna(df['rating'].mean())

In [23]:
df['cost_per_person']=df['cost_per_person']/2

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51267 entries, 0 to 51716
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_name  51267 non-null  string
 1   online_order     51267 non-null  string
 2   book_table       51267 non-null  string
 3   rating           51267 non-null  float64
 4   votes            51267 non-null  int64
 5   location         51267 non-null  string
 6   cuisines         51267 non-null  string
 7   cost_per_person  51267 non-null  float64
 8   restaurant_type  51267 non-null  string
dtypes: float64(2), int64(1), string(6)
memory usage: 3.9 MB

In [27]:
df.to_csv('zomato_clean_data.csv', index=False)